.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 0 40px;
  background: rgba(11, 29, 55, 0.8);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 999; 
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}


.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-logo {
  height: 42px;
  width: auto;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #cceeff;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-button {
  background: transparent;
  border: 2px solid #66ccff;
  color: #66ccff;
  border-radius: 30px;
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 40px;
}

.logout-button:hover {
  background: #66ccff;
  color: #0b1d37;
  box-shadow: 0 0 12px rgba(102, 204, 255, 0.7);
  transform: scale(1.05);
}

.home-button {
  background: transparent;
  border: 2px solid #66ccff;
  color: #66ccff;
  border-radius: 30px;
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
}

.home-button:hover {
  background: #66ccff;
  color: #0b1d37;
  box-shadow: 0 0 12px rgba(102, 204, 255, 0.7);
  transform: scale(1.05);
}

.clickable-title {
  cursor: pointer;
  transition: color 0.2s ease;
}

.clickable-title:hover {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(102, 204, 255, 0.5);
}
